@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

* {
    box-sizing: border-box;
    /*font-family: 'Lato', sans-serif;*/
    color: #777;
    font-size: 15px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
}

/*RADI TRENUTNE PREGLEDNOSTI - POSLE UREDITI*/
img {
    width:550px;
    height:300px;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


html, body {
    margin: 0px;
    padding: 0px;
    backgrond-color:#FAF9F6;
}

.main-header {
background-color: rgba(0, 0, 0, .5);    
background-image: url("https://media.gq-magazine.co.uk/photos/5dee60bf271d0f00080ca916/16:9/w_2560%2Cc_limit/20191209-sinatra-04.jpg");
background-blend-mode: multiply;
background-size: cover;
padding: 10px 0px 10px 0px;
}

.main-container {
    display:grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 0px 10px;
}

.main-h1 {
    color: #FFF;
    font-family: 'Allison', cursive;
    font-size: 10em;
    text-align: center;
}

section {
    margin: 1em;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2em;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    color: rgb(58, 57, 57);
    font-size: 1.5em;
}

h3 {
    color: black;
    font-family: 'Allison', cursive;
    font-size: 3em;
    text-align: left;
    margin: 0px 0px 0px 6px;
}

footer {
    background-color:white;
    padding: .25em 0px;
    border-top: 2px solid black;
}

footer img {
    width: 32px;
    height: 32px;    
}

.container {
    margin: 0 auto;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
}

.container ul {
flex-grow: 1;
text-align: end;
}

footer ul {
    margin: 0;
}

footer li {
    display:inline;
    padding: 0px 0.5em;
}

footer a{
    display: inline-block;
    padding: 0px 0px 1px 0px;
}

footer a:hover {
    background-color: rgba(138, 132, 132, 0.5)
}

